### GRUPO : DOM RUAN SUZANO, GRASIELLY ALMEIDA, HUDSON MONTEIRO, QUÉZIA MOURA

In [40]:
# lendo a base de dados
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('DOHMH_HIV_AIDS_Annual_Report.csv')
df

,Year,Borough,UHF,Gender,Age,Race,HIV diagnoses,HIV diagnosis rate,Concurrent diagnoses,% linked to care within 3 months,AIDS diagnoses,AIDS diagnosis rate,PLWDHI prevalence,% viral suppression,Deaths,Death rate,HIV-related death rate,Non-HIV-related death rate
0,2011,All,All,All,All,All,3379,48.3,640,66,2366,33.8,1.1,71,2040,13.6,5.8,7.8
1,2011,All,All,Male,All,All,2595,79.1,480,66,1712,52.2,1.7,72,1423,13.4,5.7,7.7
2,2011,All,All,Female,All,All,733,21.1,153,66,622,17.6,0.6,68,605,14.0,6.0,8.0
3,2011,All,All,Transgender,All,All,51,99999.0,7,63,32,99999.0,99999.0,55,12,11.1,5.7,5.4
4,2011,All,All,Female,13 - 19,All,47,13.6,4,64,22,6.4,0.1,57,1,1.4,1.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6000,2015,Staten Island,Willowbrook,Male,All,Asian/Pacific Islander,0,0.0,0,99999,0,0.0,0.1,100,0,0.0,99999.0,99999.0
6001,2015,Staten Island,Willowbrook,Male,All,Black,1,72.4,0,100,0,0.0,1.1,80,0,0.0,99999.0,99999.0
6002,2015,Staten Island,Willowbrook,Male,All,Latino/Hispanic,2,43.9,0,100,0,0.0,0.7,87,1,8.3,99999.0,99999.0
6003,2015,Staten Island,Willowbrook,Male,All,Other/Unknown,1,218.9,0,0,0,0.0,0.7,100,0,0.0,99999.0,99999.0
6004,2015,Staten Island,Willowbrook,Male,All,White,0,0.0,0,99999,0,0.0,0.2,93,0,0.0,99999.0,99999.0

In [7]:
set(list(df['Gender']))

{'All', 'Female', 'Male', 'Transgender'}

In [41]:
# limpando o gênero All e Transgender 
limpa_all = df['Gender'] != 'All'
limpa_trans = df['Gender'] != 'Transgender'
new_df = df.loc[limpa_all,:]
base = new_df.loc[limpa_trans,:]

In [42]:
base = base.drop(['% viral suppression','Borough','UHF','Race','PLWDHI prevalence','Concurrent diagnoses','% linked to care within 3 months','Borough'], axis = 1)
base

,Year,Gender,Age,HIV diagnoses,HIV diagnosis rate,AIDS diagnoses,AIDS diagnosis rate,Deaths,Death rate,HIV-related death rate,Non-HIV-related death rate
1,2011,Male,All,2595,79.1,1712,52.2,1423,13.4,5.7,7.7
2,2011,Female,All,733,21.1,622,17.6,605,14.0,6.0,8.0
4,2011,Female,13 - 19,47,13.6,22,6.4,1,1.4,1.4,0.0
5,2011,Female,20 - 29,178,24.7,96,13.3,19,7.2,3.2,4.0
6,2011,Female,30 - 39,176,26.9,133,20.3,53,9.4,5.7,3.7
...,...,...,...,...,...,...,...,...,...,...,...
6000,2015,Male,All,0,0.0,0,0.0,0,0.0,99999.0,99999.0
6001,2015,Male,All,1,72.4,0,0.0,0,0.0,99999.0,99999.0
6002,2015,Male,All,2,43.9,0,0.0,1,8.3,99999.0,99999.0
6003,2015,Male,All,1,218.9,0,0.0,0,0.0,99999.0,99999.0
6004,2015,Male,All,0,0.0,0,0.0,0,0.0,99999.0,99999.0